<div id="topNav" class="navbar-fixed"><!-- Navbar Start -->
    <nav>
        <div id="topNav-ul" class="nav-wrapper">
            <a href="/" class="brand-logo" id="nav-site-name">pubgstats.info</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger right">
                <i class="material-icons">menu</i>
            </a>
            <% var links = [ 
                { href:"/", value: "Home", isActive: false },
                { href:"/leaderboard", value: "Leaderboard", isActive: false },
                { href: "/player", value: "Player Lookup", isActive: false},
                { href: "/telemetry", value: "Telemetry", isActive: false }
            ]; %>
            <ul class="right hide-on-med-and-down">
                <% links.forEach(function(link){ %>
                    <li class="<%= active === link.value ? 'active' : '' %>" onclick="changeMenu(this)">
                        <a href="<%= link.href %>">
                            <%= link.value %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </nav>
</div><!-- Navbar Ends -->
<ul id="mobile-nav" class="sidenav">
    <% links.forEach(function(link){ %>
        <li class="<%= active === link.value ? 'active' : '' %>" onclick="changeMenu(this)">
            <a href="<%= link.href %>">
                <%= link.value %>
            </a>
        </li>
    <% }); %>
</ul>